# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ List popular languages for Data Science.
+ List some of the commonly used libraries in Data Science.
+ List Data Science environments.
+ Show examples of arithmetic expressions evaluation in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java Script
4. Java
5. SQL
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| R Studio           |
| Anaconda           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
time_mins = 200
time_hours = time_mins/60
time_hours

3.3333333333333335

## Author

Hillary T. Mudara